
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 32px;  
    padding: 16px;
  }
  
  .card {
    width: 100%;
    height: auto;
    padding: 1em;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    transition: transform 0.3s ease;
    color: #000;  
  }
  
  .card-info {
    padding-top: 10px;
  }
  
  .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
 
  .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    color: #000;  
  }
  
  .text-body {
    font-size: .9em;
    padding-bottom: 10px;
    color: #000;  
  }
  
  
  .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
    background-color: #f5f5f5;  
  }
  
  .svg-icon {
    fill: #000;  
    width: 20px;
    height: 20px;
  }
  
  /*Hover*/
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-button:hover {
    border: 1px solid #296882;
    background-color: #296882;
  }
  
  /* Responsive Design */
  @media (min-width: 1200px) {
    .products-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 1199px) {
    .products-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 991px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .products-grid {
      grid-template-columns: 1fr;
    }
  }
  