.carousel-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: contain; // Ajusta la imagen dentro del contenedor sin recortarla
    }
  }
  