$menu-bg-color: #333;
$menu-text-color: white;
$menu-padding: 0,5rem;
$nav-link-padding: 0.5rem 1rem;
$nav-link-hover-bg-color: #575757;
$nav-link-active-bg-color: #298ea2;
$mobile-breakpoint: 768px;

.menu {
  background-color: $menu-bg-color;
  padding: $menu-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .header-logo {
    height: 80px; 
    width: auto; 
    margin-right: 1rem;
  }

  a {
    color: $menu-text-color;
    text-decoration: none;
    padding: $nav-link-padding;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $nav-link-hover-bg-color;
      border-radius: 5px;
    }

    &:active {
      background-color: $nav-link-active-bg-color;
      border-radius: 5px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: flex-start;

    .header-logo {
      margin-bottom: 1rem;
      height: 60px; 
    }

    a {
      padding: 0.5rem 0;
      width: 100%;
      text-align: center;
    }
  }
}
