.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #393535;
  
    .ant-form {
      background: #f0f2f5;
      padding: 2rem; 
      border-radius: 8px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
      .ant-form-item {
        margin-bottom: 1rem; 
  
        label {
          font-weight: bold; 
        }
      }
  
      .ant-input,
      .ant-input-password {
        padding: 0.5rem; 
        border-radius: 4px; 
      }
  
      .ant-btn-primary {
        background-color: #000000d4; 
        border-color: #ffffff; 
        padding: 0.1rem 2rem;
        font-size: 1rem; 
        transition: background-color 0.3s ease; 
  
        &:hover {
          background-color: #296882;
          border-color: #296882;
        }
      }
    }
  }
  